@using TutorProject.Account.Front.Services
@inherits LayoutComponentBase
@inject AuthorizationService _authorizationService

<div class="page">
    @if (_isAuthorized)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private bool _isAuthorized = false;
    
    protected override async Task OnInitializedAsync()
    {
        _isAuthorized = await _authorizationService.IsAuthorizedAsync();
        AuthorizationService.UserAuthorized += OnUserAuthorized;
    }

    private async Task OnUserAuthorized()
    {
        _isAuthorized = await _authorizationService.IsAuthorizedAsync();
    }
}
