@page "/chats"
@using TutorProject.Account.Front.Models
@using TutorProject.Account.Front.Services
@inject NavigationManager NavigationManager
@inject HttpService _httpService
@inject AuthorizationService _authorizationService
<PageTitle>Chats</PageTitle>

<h1>Chats</h1>

@if (_chats == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
        @if (_authData.UserType == "Tutor")
        {
            @foreach (var chat in _chats)
            {
                <tr>
                    <td>@chat.ClientName</td>
                    <td>Link</td>
                </tr>
            }
        }
        @if (_authData.UserType == "Client")
                {
                    @foreach (var chat in _chats)
                    {
                        <tr>
                            <td>@chat.TutorName</td>
                            <a href="http://localhost:9000/chat/@chat.ChatId/@_authData.Token">link to chat</a>
                        </tr>
                    }
                }
        </tbody>
    </table>
}

@code {
    private List<Chat>? _chats;
    private AuthorizationData _authData;

    private async Task GetChats()
    {
        var result = await _httpService.GetAsync<List<Chat>>($"/api/chats?token={_authData.Token}");
        _chats = result.ResponseDto;
    }

    protected override async Task OnInitializedAsync()
    {
        var authData = await _authorizationService.GetAuthData();
        if (authData is null)
            NavigationManager.NavigateTo("Login");

        _authData = authData!;
        await GetChats();
    }
}