@page "/"
@using TutorProject.Account.Front.Services
@inject NavigationManager NavigationManager
@inject AuthorizationService _authorizationService;
<PageTitle>Index</PageTitle>

@if (!_isAuthorized)
{
    NavigationManager.NavigateTo("/Login");
}

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

@code
{
    private bool _isAuthorized;
    
    protected override async Task OnInitializedAsync()
    {
        _isAuthorized = await _authorizationService.IsAuthorizedAsync();
    }
}