@page "/"
@using TutorProject.Account.Front.Services
@inject NavigationManager NavigationManager
@inject AuthorizationService _authorizationService;
<PageTitle>Index</PageTitle>

<style media="screen,print">
	#g-_-_3_pdf-box ,
	#g-_-_3_pdf-box .g-artboard {
		margin:0 auto;
	}
	#g-_-_3_pdf-box p {
		margin:0;
	}
	#g-_-_3_pdf-box .g-aiAbs {
		position:absolute;
	}
	#g-_-_3_pdf-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-_-_3_pdf-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-_-_3_pdf-box .g-aiPointText p { white-space: nowrap; }
	#g-_-_3_pdf-Artboard_1 {
		position:relative;
		overflow:hidden;
	}
	#g-_-_3_pdf-Artboard_1 p {
		font-weight:500;
		line-height:37px;
		opacity:1;
		letter-spacing:0.014em;
		font-size:29px;
		text-align:left;
		color:rgb(77,77,77);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle0 {
		line-height:76px;
		height:76px;
		font-size:38px;
		color:rgb(230,230,230);
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle1 {
		font-weight:700;
		line-height:76px;
		height:76px;
		font-size:47px;
		text-align:center;
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle2 {
		font-weight:700;
		line-height:76px;
		height:76px;
		font-size:90px;
		text-align:center;
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle3 {
		font-weight:700;
		line-height:82px;
		height:82px;
		font-size:45px;
		color:rgb(240,240,240);
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle4 {
		font-weight:700;
		line-height:60px;
		height:60px;
		font-size:50px;
		text-align:center;
		color:rgb(240,240,240);
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle5 {
		font-weight:700;
		line-height:108px;
		height:108px;
		font-size:104px;
		text-align:center;
		color:rgb(240,240,240);
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle6 {
		line-height:43px;
		height:43px;
		font-size:200px;
		color:rgb(255,115,92);
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle7 {
		font-weight:700;
		line-height:82px;
		height:82px;
		font-size:62px;
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle8 {
		line-height:30px;
		font-size:26px;
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle9 {
		font-weight:700;
		line-height:43px;
		height:43px;
		font-size:33px;
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle10 {
		font-weight:700;
		line-height:82px;
		height:82px;
		font-size:60px;
		color:rgb(240,240,240);
	}
	#g-_-_3_pdf-Artboard_1 .g-pstyle11 {
		font-weight:700;
		line-height:43px;
		height:43px;
		font-size:25px;
	}

</style>

<div id="g-_-_3_pdf-box" class="ai2html">

	<!-- Artboard: Artboard_1 -->
	<div id="g-_-_3_pdf-Artboard_1" class="g-artboard" style="max-width: 1600px;max-height: 4000px" data-aspect-ratio="0.4" data-min-width="0">
<div style="padding: 0 0 250% 0;"></div>
		<img id="g-_-_3_pdf-Artboard_1-img" class="g-_-_3_pdf-Artboard_1-img g-aiImg" asp-append-version="true" runat="server" src="https://i.ibb.co/jMKLBpg/mainimage.jpg"/>
		<div id="g-ai0-1" class="g-1 g-aiAbs g-aiPointText" style="top:1.6787%;margin-top:-40.1px;left:64.0378%;width:122px;">
			<a style="text-decoration: none; color: white" href="/Login" class="g-pstyle0">Вход</a>
			</div>
		<div id="g-ai0-2" class="g-1 g-aiAbs g-aiPointText" style="top:1.6787%;margin-top:-40.1px;left:71.1103%;width:288px;">
			<a style="text-decoration: none; color: white" href="/Registration" class="g-pstyle0">Регистрация</a>
			</div>
		<div id="g-ai0-3" class="g-1 g-aiAbs g-aiPointText" style="top:9.0302%;margin-top:-41.2px;left:50.0237%;margin-left:-191px;width:382px;">
			<p class="g-pstyle1">РЕПЕТИТОРА</p>
		</div>
		<div id="g-ai0-4" class="g-1 g-aiAbs g-aiPointText" style="top:9.7584%;margin-top:-47.3px;left:24.1091%;margin-left:-199.5px;width:399px;">
			<p class="g-pstyle2">НАЙДИ</p>
		</div>
		<div id="g-ai0-5" class="g-1 g-aiAbs g-aiPointText" style="top:9.8536%;margin-top:-44.1px;left:76.0195%;margin-left:-197px;width:394px;">
			<p class="g-pstyle2">МЕЧТЫ</p>
		</div>
		<div id="g-ai0-6" class="g-1 g-aiAbs g-aiPointText" style="top:10.5802%;margin-top:-41.2px;left:50.0443%;margin-left:-138.5px;width:277px;">
			<p class="g-pstyle1">УЧЕНИКА</p>
		</div>
		<div id="g-ai0-7" class="g-1 g-aiAbs g-aiPointText" style="top:17.0164%;margin-top:-43.7px;left:29.2548%;width:690px;">
			<p class="g-pstyle3">с помощью TUTORSERVICE</p>
		</div>
		<div id="g-ai0-8" class="g-2 g-aiAbs g-aiPointText" style="top:26.7007%;margin-top:-95px;left:50.7585%;margin-left:-614px;width:1228px;">
			<p class="g-pstyle4">ПОМОГАЕМ РЕПЕТИТОРАМ И УЧЕНИКАМ</p>
			<p class="g-pstyle5">НАЙТИ ДРУГ ДРУГА</p>
		</div>
		<div id="g-ai0-9" class="g-3 g-aiAbs g-aiPointText" style="top:46.6125%;margin-top:-33.5px;left:12.5151%;width:195px;">
			<p class="g-pstyle6">11</p>
		</div>
		<div id="g-ai0-10" class="g-3 g-aiAbs g-aiPointText" style="top:46.5558%;margin-top:-86.2px;left:38.1569%;width:356px;">
			<p class="g-pstyle7">Школьных</p>
			<p class="g-pstyle7">классов</p>
		</div>
		<div id="g-ai0-11" class="g-3 g-aiAbs" style="top:44.725%;left:63.9063%;width:23.4375%;">
			<p class="g-pstyle8">На портале можно найти репетитора как для дошкольников, так и для студентов</p>
		</div>
		<div id="g-ai0-12" class="g-3 g-aiAbs g-aiPointText" style="top:54.0625%;margin-top:-33.5px;left:12.5155%;width:235px;">
			<p class="g-pstyle6">15</p>
		</div>
		<div id="g-ai0-13" class="g-3 g-aiAbs g-aiPointText" style="top:54.0558%;margin-top:-86.2px;left:38.1569%;width:378px;">
			<p class="g-pstyle7">Учебных </p>
			<p class="g-pstyle7">предметов</p>
		</div>
		<div id="g-ai0-14" class="g-3 g-aiAbs" style="top:52.25%;left:63.9063%;width:23.4375%;">
			<p class="g-pstyle8">Помимо стандартных предметов, на портале есть учителя по подготовке к ЕГЭ, а также по программированию, робототехнике и т.д. </p>
		</div>
		<div id="g-ai0-15" class="g-4 g-aiAbs g-aiPointText" style="top:65.7058%;margin-top:-45.2px;left:38.0434%;width:740px;">
			<p class="g-pstyle7">TUTORSERVICE ЭТО</p>
		</div>
		<div id="g-ai0-16" class="g-4 g-aiAbs g-aiPointText" style="top:70.8438%;margin-top:-23.8px;left:12.4877%;width:255px;">
			<p class="g-pstyle9">Легкий поиск</p>
		</div>
		<div id="g-ai0-17" class="g-4 g-aiAbs g-aiPointText" style="top:70.8438%;margin-top:-23.8px;left:38.1752%;width:400px;">
			<p class="g-pstyle9">Удобный мессенджер</p>
		</div>
		<div id="g-ai0-18" class="g-4 g-aiAbs g-aiPointText" style="top:70.8438%;margin-top:-23.8px;left:64.2377%;width:327px;">
			<p class="g-pstyle9">Свое расписание</p>
		</div>
		<div id="g-ai0-19" class="g-4 g-aiAbs" style="top:72.25%;left:12.4873%;width:23.4375%;">
			<p>В нашем поисковике вы сможете подобрать подходящего специалиста по множеству критериев</p>
		</div>
		<div id="g-ai0-20" class="g-4 g-aiAbs" style="top:72.25%;left:38.2998%;width:23.4375%;">
			<p>Мы заботимся о вашей безопасности, поэтому предоставляем свой мессенджер, в котором вы сможете связаться и обсудить детали занятий с репетитором</p>
		</div>
		<div id="g-ai0-21" class="g-4 g-aiAbs" style="top:72.25%;left:64.1123%;width:24.625%;">
			<p>Вы можете посмотреть расписание своих занятий прямо на сайте. Это касается и учеников, и репетиторов </p>
		</div>
		<div id="g-ai0-22" class="g-5 g-aiAbs g-aiPointText" style="top:83.8774%;margin-top:-45.1px;left:38.1393%;width:404px;">
			<p class="g-pstyle10">УЧЕНИКАМ</p>
		</div>
		<div id="g-ai0-23" class="g-5 g-aiAbs g-aiPointText" style="top:85.9234%;margin-top:-22.9px;left:39.8165%;width:351px;">
        			<a style="text-decoration: none; color: black" href="/Registration" class="g-pstyle11">ЗАРЕГИСТРИРОВАТЬСЯ</a>
			</div>
		<div id="g-ai0-24" class="g-5 g-aiAbs g-aiPointText" style="top:89.5524%;margin-top:-45.1px;left:38.2018%;width:539px;">
        			<p class="g-pstyle10">РЕПЕТИТОРАМ</p>
			</div>
		<div id="g-ai0-25" class="g-5 g-aiAbs g-aiPointText" style="top:91.5484%;margin-top:-22.9px;left:39.754%;width:351px;">
        			<a style="text-decoration: none; color: black" href="/Registration" class="g-pstyle11">ЗАРЕГИСТРИРОВАТЬСЯ</a>
			</div>
	</div>

</div>
