@page "/Login"
@using TutorProject.Account.Front.Dtos
@using TutorProject.Account.Front.Models
@using TutorProject.Account.Front.Services
@inject NavigationManager NavigationManager
@inject HttpService _httpService
@inject AuthorizationService _authorizationService


<style media="screen,print">
	#g-_-_-box ,
	#g-_-_-box .g-artboard {
		margin:0 auto;
	}
	#g-_-_-box p {
		margin:0;
	}
	#g-_-_-box .g-aiAbs {
		position:absolute;
	}
	#g-_-_-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-_-_-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-_-_-box .g-aiPointText p { white-space: nowrap; }
	#g-_-_-Artboard_1 {
		position:relative;
		overflow:hidden;
	}
	#g-_-_-Artboard_1 p {
		font-weight:700;
		line-height:43px;
		height:auto;
		opacity:1;
		letter-spacing:0.014em;
		font-size:21px;
		text-align:left;
		color:rgb(77,77,77);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-_-_-Artboard_1 .g-pstyle0 {
		line-height:76px;
		height:76px;
		font-size:90px;
		text-align:center;
		color:rgb(240,240,240);
	}
	#g-_-_-Artboard_1 .g-pstyle1 {
		line-height:42px;
		height:42px;
		font-size:24px;
		color:rgb(240,240,240);
	}
	#g-_-_-Artboard_1 .g-pstyle2 {
		line-height:42px;
		height:42px;
		font-size:24px;
	}
	#g-_-_-Artboard_1 .g-pstyle3 {
		height:43px;
		opacity:0.41;
		font-size:25px;
	}
	#g-_-_-Artboard_1 .g-pstyle4 {
		height:43px;
		font-size:25px;
		color:rgb(240,240,240);
	}
	#g-_-_-Artboard_1 .g-pstyle5 {
		height:43px;
	}
	#g-_-_-Artboard_1 .g-cstyle0 {
		color:rgb(255,115,92);
	}

</style>

<div id="g-_-_-box" class="ai2html">
	
	<div id="g-_-_-Artboard_1" class="g-artboard" style="max-width: 1600px;max-height: 800px" data-aspect-ratio="2" data-min-width="0">
		<div style="padding: 0 0 50% 0;"></div>
		<img id="g-_-_-Artboard_1-img" class="g-_-_-Artboard_1-img g-aiImg" alt="" src="https://i.ibb.co/Qf61npv/Login.png"/>
		<div id="g-ai0-1" class="g-_ g-aiAbs g-aiPointText" style="top:17.7679%;margin-top:-44.1px;left:50.0659%;margin-left:-349px;width:698px;">
			<p class="g-pstyle0">Авторизация</p>
		</div>
		<div id="g-ai0-4" class="g-_ g-aiAbs g-aiPointText" style="top:43.3672%;margin-top:-22.9px;left:39.8165%;width:107px;">
			<p class="g-pstyle3"><input @bind="Username" placeholder="логин"></p>
		</div>
		<div id="g-ai0-5" class="g-_ g-aiAbs g-aiPointText" style="top:51.4922%;margin-top:-22.9px;left:39.8165%;width:124px;">
			<p class="g-pstyle3"><input @bind="Password" type="password" placeholder="пароль"></p>
		</div>
		<div id="g-ai0-6" class="g-_ g-aiAbs g-aiPointText" style="top:59.9922%;margin-top:-22.9px;left:46.9219%;width:106px;">
			<button @onclick="@OnLoginButtonClick"  class="g-pstyle4 btn btn-outline-light" style="background:rgb(255,115,92)">Войти</button>
		</div>
		<div id="g-ai0-7" class="g-_ g-aiAbs g-aiPointText" style="top:69.0884%;margin-top:-22.7px;left:38.379%;width:393px;">
			<p class="g-pstyle5">Еще нет аккаунта? <span class="g-cstyle0"><a href="Registration" style="text-decoration: none; color: #ff735c">Регистрация</a></span></p>
		</div>
	</div>

</div>


@code {
    
    private string Username { get; set; }
    private string Password { get; set; }
    
    private bool LoginFailed { get; set; }

    async Task OnLoginButtonClick()
    {
        var loginRequest = new AuthorizationRequestDto
        {
            Login = Username,
            Password = Password
        };

        var result = await _httpService.PostWithBodyAsync<LoginResponseDto>("api/authorization", loginRequest);
        if (result.IsSuccessful)
        {
            await _authorizationService.AuthorizeAsync(result.ResponseDto!.AuthorizationToken);
            NavigationManager.NavigateTo($"Account");
        }

        LoginFailed = true;
    }

    protected override async Task OnInitializedAsync()
    {
        if (await _authorizationService.IsAuthorizedAsync())
            NavigationManager.NavigateTo($"Account");
    }

}